{% extends 'partials/base.html.twig' %}

{% block scripts %}
    {{ parent() }}
    <script defer src="js/users.js"></script>
{% endblock %}

{% block main %}<h1>Users</h1>

    <section>
        <ul id="users-list" class="selectable"></ul>
    </section>
{% endblock %}
