{% extends 'partials/base.html.twig' %}

{% block scripts %}
    {{ parent() }}
    <script defer src="js/users.js"></script>
{% endblock %}

{% block main %}<h1>Users</h1>

    <div class="main main-users">
        <section class="users-list">
            <ul id="users-list" class="selectable"></ul>
        </section>

        <section class="users-form">
            <div style="text-align: right">
                <button id="new-user-button" disabled>New</button>
            </div>
            <form action="" id="users-form">
                <div class="form-box">
                    <label for="">Name </label>
                    <input type="text" name="Username" disabled>
                </div>
                <div class="form-box">
                    <label for="">Email </label>
                    <input type="email" name="Email" disabled>
                </div>
                <hr>

                {% for perm in allPerms %}
                    <div>
                    <input type="checkbox" name="{{ perm.Slug }}" {% if perm.Slug in myPerms %}checked{% endif %} disabled>
                    <label for="">{{ perm.Description }}</label>
                    </div>
                {% endfor %}
                <div class="form-box">
                    <button id="save-user-button" name="saveButton" disabled>Save</button>
                </div>
            </form>
        </section>
    </div>
{% endblock %}
